* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 2em;
}

.left-nav,
.right-nav {
	display: flex;
	align-items: center;
}

.left-nav ul {
	display: flex;
}

ul,
li {
	list-style-type: none;
}

nav button {
	background-color: #2e844a;
	color: #ffffff;
	cursor: pointer;
	height: 50px;
	width: 150px;
	outline: unset;
	border: 1px solid;
	border-radius: 2.5px;
}