* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
}

nav a:hover {
	color: #0176d3;
}

.left-nav,
.right-nav {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0 15px 0 15px;
}

.left-nav ul {
	display: flex;
	gap: 25px;
	font-weight: 600;
}

ul,
li {
	list-style-type: none;
}

nav button,
.left-div button {
	color: #ffffff;
	cursor: pointer;
	height: 45px;
	width: 130px;
	outline: unset;
	border: 1px solid;
	border-radius: 4.5px;
}

nav button {
	background-color: #2e844a;
}

.contact {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}

/* end of navbar */

/* main */
main {
	padding: 1.5em;
}

.first-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 20px;
}

.left-div {
	flex: 1;
}

.right-div {
	flex: 1;
}

.right-div img {
	max-width: 900px;
	height: auto;
}

.left-div .trial {
	background-color: #0176d3;
}

.buttons {
	display: flex;
	gap: 25px;
	margin-top: 50px;
}

.left-div .demo {
	background: transparent;
	border: solid 2px #0176d3;
	color: #0176d3;
}

.left-div .demo:hover {
	background-color: #d8edff;
}

h1 {
	font-size: 4.5em;
	color: #0176d3;
}

.left-div p {
	font-size: 1.5em;
	margin-top: 5px;
}

/* footer */
footer {
	background-color: rgba(11, 92, 171, 1);
	padding: 2em;
	text-align: center;
	color: #ffffff;
	margin-top: 25vh;
}