* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
}

h1 {
    text-align: center;
    margin: 15px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

img {
    width: 50%;
}

.grid img {
    transition: transform 0.3s ease;
    cursor: pointer;
    /* Make the cursor change to a pointer on hover */
}

.grid a {
    display: inline-block;
    /* Ensure each image behaves like a block for styling */
}