@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    font-size: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

ul a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    background-color: coral;
    height: 70px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

/* applies styles to all types of devices, but only if the viewport width is at least 900 pixels. */
@media all and (min-width:900px) {
    body {
        background-color: lightblue;
    }
    section {
        margin: 1rem;
        line-height: 1.6;
    }
}