* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}

header {
    padding: 5em;
    background-color: darkolivegreen;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin-top: 25px;
    color: aliceblue;
    font-size: 3em;
}

main {
    padding: 7em;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
}