@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
	box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
	  margin: 0;
  }

  body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  }

  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
	font: inherit;
  }

  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
	text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
  }

  /*
	9. Create a root stacking context
  */
  #root, #__next {
	isolation: isolate;
  }

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

.skip {
  background-color: tomato;
  display: block;
  text-decoration: underline;
  color: #ffffff;
  padding: 1em;
}

header {
  background: linear-gradient(45deg, purple, orange);
  color: #ffffff;
  padding: 2em;
}

header img {
  display: flex;
   vertical-align: middle;
   margin-top: 25px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex ul {
  display: flex;
  gap: 30px;
}

.flex ul a {
  font-size: 1.5rem;
}

.flex ul a:hover {
  border-bottom: 2px solid #ffffff;
}

h1 {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 3em;
}

main {
  background: linear-gradient(45deg, purple, orange);
  padding: 5em;
  color: #ffffff;
  margin-top: 15px;
}

main .first {
margin-bottom: 25px;
}

.main div {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  background: linear-gradient(to right, rgb(0, 255, 115) 20%, blue 60%, green);
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  padding: 2em;
}

@media screen and (max-width: 768px) {
  header .flex {
    flex-direction: column;  /* Change the layout to a column on small screens */
    align-items: flex-start;  /* Optional: aligns items to the start of the container */
  }

  header .flex img {
     display: block;
     margin: 10px auto 10px auto;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li:nth-child(3) {
    margin-bottom: 15px;
  }
}